* {box-sizing: border-box;
    margin: 0;}
body {width: 80%vw;
    max-width: 900px;
    margin: auto;}

h1 {text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 2.5em;
    margin: 1em;}

h2 {text-decoration: underline;}
section.objective {margin-top: 1em;
    margin-bottom: 0em;}
section {margin-top: 1em;
    margin-bottom: 1em;}
.col {}

.left {width: 75%;
    float: left;}

.right {width: 25%;
    float: left;}
.row {margin-bottom: 1em;}
.row:after {content: "";
    clear: both;
    display: table;}


.edu img {width: 80%;
    margin-top: -40px;}

.courses {width: 75%
        float:left;}
section.courses2 {width:25%
    float:right;}


.skills{width:80%
        margin-top: -40px}
